@{
    Layout = "~/Views/Shared/ChinookLayout.cshtml";
}

<header class="page-header">
    <h1>Chinook Music</h1>
    <p>Welcome to the Chinook Music website. Here you can browse all of your favorite music and artists.</p>
</header>
